*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236b5988' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 700px;
    margin: auto;
}

/* header */
.header {
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.header.visible{
    opacity: 1;
}

header .logo{
    text-align: center;
    margin:100px 0px 40px 0px;
}

header .logo h1{
    color: #000000;
}

header .logo p{
    color: #5a5959;
}

header .logo img{
    margin: 20px 0px 80px 0px;
    border-radius: 40px;
    opacity: 1;
    width: 225px;
}

header form{
    width: 100%;
    display: flex;
    justify-content: center;
}

header .search-bar{
    margin: 30px 0px 0px 0px;
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}

header .categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categories a{
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
} 

header .categories a.active{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

/* GRID */



.grid{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 3s;
    /*  */
    /*  */
}
.grid.imagenes-cargadas{
    opacity: 1;
}

.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.33% - 20px);
}   

.grid .item-contenido{
    position: relative;
}

.grid .item img {
    border-radius: 4px;
    width: 100%;
    cursor:pointer;
    vertical-align: top;
}

.item:hover ~ .item{
    transform: translate3d(100px, 0 , 0);
}
.grid:hover ~ .item{
    opacity: 0.3;
}
.grid:hover ~ .item:hover{
    transform: scale(1.3);
    opacity: 1; 
}

/* Overlay */

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100vh;
    display: none ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.activo{
    display: flex;
}


.overlay img{
    width:365px;
    max-width: 100%;
}

.overlay .descripcion{
    display: block;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
}

.contenedor-img{
    position: relative;
}

#btn-cerrar-popup{
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

footer .redes-sociales{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3 ease all;
}

/* footer .redes-sociales .twitter{background: #1da1f2;} */
footer .redes-sociales .linkedin{background: #4c6ef5;}
footer .redes-sociales .whatsapp{background: #00bfa5;}

footer .redes-sociales a i{
    font-size: 20px;
    line-height: 60px;
}

footer .contenedor-icono:hover a {
    animation: icono .5s ease;
}

@keyframes icono{
    from{
        transform: rotate3d(0,0,0,0);
    }
    to{
        transform: rotate3d(0,1,0,360deg);
    }
}

footer .creado-por {
    margin: 40px 0px 100px 0px;
    text-align: center;
    font-size: 25px;
    color: #ff02d5;
}
footer .creado-por a{
    font-size: 30px;
    color: #000000;
}

footer .creado-por a:hover{
    text-decoration: underline;
}

/* media querys */

@media screen and (max-width: 700px){
    .grid .item{
        width: calc(50% - 20px);
    }   
     header .search-bar{
        width: 100%;
    }
}

